<div>
    {{> header}}
</div>
<div class="banner" style="color: #AD4CC7">
    <h1>Inventory Management System</h1>
</div>
<br>
<center>
    <fieldset style="width: 25em; background-color: #f7f7f7;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
        <div class="banner">
            <h3>
                User Login
            </h3>
        </div>
        <div class="card signin-card">
             <img class="profile-img" src="static/Login/assets/images/avatar.jpg" alt="">
        </div>
        <div id="{{mojit_view_id}}" class="banner">
            <form method="post">
                <label class="hidden-label">User Email:</label>
                <input type="text" name="username" placeholder="Email" id="userid"><br>
                <label class="hidden-label">Password:</label>
                <input type="password" name="password" placeholder="Password" id="pwd"><br>
                <div class="errorMsg">
                    <p>{{msg}}</p>
                </div>
                <input class="button2" type="submit" value="Submit" id="subButton">
            </form>
            <br><br>
        </fieldset>
    </center>
</div>