/*----------------------------------------------
css settings for HTML div exactCenter
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
 
#inventoryField{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: absolute;
background-color: #313131;
}
 
h2{
background-color: #FEFFED;
padding: 20px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}
 
hr{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
}
 
form{
width: 300px;
padding: 10px 50px;
font-family:raleway;
border-radius:3px;
background-color: peru;
background-color: white;
}
 
input[type=text]{
width:82%;
padding: 10px;
margin-top: 30px;
border: 1px solid #ccc;
padding-left: 40px;
font-size: 16px;
font-family:raleway;
} 
 
#name{
background-image: url('../images/name.jpg');
background-repeat: no-repeat;
background-position: 5px 7px;
}
 
#email{
background-image: url('../images/email.png');
background-repeat: no-repeat;
background-position: 5px 7px;
}
 
textarea{
background-image: url('../images/msg.png');
background-repeat: no-repeat;
background-position: 5px 7px;
width:82%;
padding: 10px;
resize:none;
margin-top: 30px;
height: 95px;
border: 1px solid #ccc;
padding-left: 40px;
font-size: 16px;
font-family:raleway;
}
 
input[type=submit]{
width: 100%;
background-color:#FFBC00;
margin-top: 30px;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
}
 
span{
color:red;
font-weight:bold;
}
 
button{
 width:10%;
 height:45px;
 border-radius:3px;
 background-color: peru;
 color:white;
 font-family: 'Raleway', sans-serif;
 font-size:18px;
}
 
#close{
position: absolute;
right: 4px;
top: 4px;
cursor:pointer;
}
 
div#inventoryDetail{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-left: -202px;
 margin-top: -270px;
 font-family: 'Raleway', sans-serif;
 } 
 
.title{
 width:50%;
 margin-left:160px;
 } 