<div id="inventoryField" class="yui3-widget-bd" style="background-color: white">
    <div id="inventoryDetail" >
        <!--<img src="images/close.png" id="close"/>-->
        <!-- contact us form -->
        <fieldset>
            <form method="post">
                <h2>Item Details:</h2><hr/>
                <b>Item ID:</b><input type="text" name="itemId" id="itemId" readonly/><br><br>
                <b>Item Type:</b><input type="text" name="itemType" id="itemType"/><br><br>
                <b>Item Name:</b><input type="text" name="itemName" id="itemName"/><br><br>
                <b>Description:</b><textarea name="itemDesc" id="itemDesc"></textarea><br><br>
                <b>Status:</b><input type="text" name="status" id="status" readonly/><br><br>
                <b>Issued To:</b><input type="text" name="issuedTo" id="issuedTo"/><br><br>
                <b>Issued On:</b><input type="text" name="issuedOn" id="issuedOn" readonly/><br><br>
                <b>Expected Return Date:</b><input type="text" name="expectedReturnDate" id="expectedReturnDate"/><br><br>
                <b>Last Issued To:</b><input type="text" name="lastIssuedTo" id="lastIssuedTo" readonly/><br><br>
                <b>Last Returned On:</b><input type="text" name="lastReturnedOn" id="lastReturnedOn" readonly/><br><br>
                <b>Last Returned To:</b><input type="text" name="lastReturnedTo" id="lastReturnedTo" readonly/><br><br>
                <b>Created On:</b><input type="text" name="createdOn" id="createdOn" readonly/><br>
                <br>
                <input type="button" class='yui3-button btn-show' name="assignButton" id="assignButton" value="Assign"/>
                <input type="button" class='yui3-button btn-show' name="modifyButton" id="modifyButton" value="Modify"/>
                <input type="button" class='yui3-button btn-show' name="returnItemButton" id="returnItemButton" value="Return Item"/>
                <input type="button" class='yui3-button btn-show' name="deleteItemButton" id="deleteItemButton" value="Delete Item"/>
                <input type="button" class='yui3-button btn-show' name="cancelButton" id="cancelButton" value="Cancel"/>
            </form>
        </fieldset>
    </div>
</div>