<div id="{{mojit_view_id}}">
    <div>
        <center>
            <br><br><br><br><br>
    <fieldset style="width: 35em; text-align: center;background-color: lightgrey;">
        <legend style="color: #606; font-weight:bold;font-size: x-large;">
            <span>Add new inventory item
            </span>
        </legend>

        <form action="/add" class="form" method="post" id="addition"><br><br>
            <table>
                <tr> <td><label style="font-size: 30">Type of the Product *: </label></td>
                     <td><input type="text" name="typeP" id="typeP"></td>
                </tr>
                <tr> <td>Name of the Product *: </td> <td><input type="text" name="nameP" id="nameP"></td></tr>
                <tr> <td>Description of the Product: </td> <td><textarea type="text" name="descP" id="descP"></textarea></td></tr>
            </table>
            <br><br>
            <center>
            <table>
            <tr>
                <td><input class="button3" type="button" value="Add" id="addButton" disabled></td>
                <td><input class="button1" type="reset" value="Reset" id="resetButton"></td>
                <td><input class="button1" type="button" value="Cancel" id="cancelButton"></td>
            </tr>
            </table>
            </center>
        </form>
    <div style="color:red;display: none" id="error-div"> Some error has occurred. Please try again</div>
    <div style="color:green;display: none" id="success-div">Item added in Inventory.</div>
    </fieldset>
        </center>
    </div>
 </div>


