<div id="{{mojit_view_id}}">
    {{> header1}}
    <br>
   <div class="nav">

        <ul>
            <li style="font-size: 17px; padding: 10px;"><a href="/inventoryList/inventory" style="color: white">Add Item</a></li>
            <li style="font-size: 17px; padding: 10px"><a href="/inventoryList" style="color: white">Inventory List</a></li>
            <li style="font-size: 40px; padding: 60px"> Inventory Management System </li>
            <li style="font-size: 20px; padding: 50px"><a href="#" id="searchTag">
                <img src="/static/Dashboard/assets/images/searchImage.png" alt="Search" style="width: 2%" height="30%" align="right"/>
                </a>
            </li>
            <li>
                <div id="searchBox" style="display: none;">
                    <form id="searchForm" action="/employeeInventoryList" method="post">
                        <input type="text" class="replace placeholder" name="employeeId" id="employeeId" value="" placeholder="Search items issued to an employee by employee ID" style="width:40%; color: rgb(102, 102, 102); float: right">
                    </form>
                </div>
            </li>
        </ul>
    </div>
   </div>
</div>

