<div id="{{mojit_view_id}}">
    <div id="employeeSearch">

        <br><br>
        <center>
        <form method="post" id="searchEmp">
            <input placeholder="Search items issued to an employee by employee ID" type="search" id="employeeItemSearch" style = "width:60%">
            <input class="button1" type="button" value="Search" id="searchButton">
        </form>
        </center>

    </div>

    <br><br>
    <table class="reference" id="invList" style="width:100%">
        <tr><td>Inventory List: {{issuedTo}}</td></tr>
        <tr>
            <th>Item ID</th>
            <th>Item Type</th>
            <th>Item Name</th>
            <th>Issued Date</th>
            <th>Expected Return Date</th>
        </tr>
        {{#itemDetailsArray}}
        <tr id="row_{{item.itemId}}" class="employeesInventory">
            <td class="id"><a data-itemId="{{item.itemId}}" class="showPopup" style="cursor:pointer;">{{item.itemId}}</a></td>
            <td class="type">{{item.itemType}}</td>
            <td class="name">{{item.itemName}}</td>
            <td class="issuedOn">{{item.issuedOn}}</td>
            <td class="expectedReturn">{{item.expectedReturn}}</td>
        </tr>
        {{/itemDetailsArray}}
    </table>

    <div style="display: none" id="popup-div">
        {{> popup}}
    </div>

</div>
<div id="empty" style="display: none"></div>