<div id="{{mojit_view_id}}">
    <br><br>
    <div style="font-size: 30px; color: #FFCB00;"> Welcome {{fname}}</div>
    <!--   <h1 style="color: #606; font-weight:bold;">Welcome Admin</h1> -->
    <div id="content">

        <div class="col">
            <br>
            <img src="/static/Login/assets/images/avatar1.png" alt="" />
        </div>
        <div class="col">
        </div>
        <div class="col" style="margin-left: 55px;">
            <br>
            <p>
               Name: {{fname}} {{lmane}}<br><br>
               User ID: {{email}}<br><br>
               Designation: {{role}}<br><br>
               Phone No.: {{phonenumber}}<br><br>
               Skype Id: {{sky}}<br><br>
            </p>
        </div>
    </div>
    <div id="footer">

    </div>
</div>
