<div id="{{mojit_view_id}}">
    <div id="searchFilter" align="right" style="padding-right: 20px">
        <br>
        <form action="" method="get">
            <input placeholder="ID" type="search" id="itemIdSearch">
            <input placeholder="Name" type="search" id="itemNameSearch">
            <input placeholder="Type" type="search" id="itemTypeSearch">
            <input class="button1" type="button" value="Search" id="searchButton">
        </form>
    </div>

    <div id="availabilityFilter" align="left" style="padding-left: 20px">
        <form method="post" >
            <input type="radio" class="filter" name="aFilter" id="allFilter" value="all" checked="checked">All<br>
            <input type="radio" class="filter" name="aFilter" id="availableFilter" value="available">Available<br>
            <input type="radio" class="filter" name="aFilter" id="notAvailableFilter" value="notAvailable">Not Available<br>
        </form>
    </div>
    <div style="color:red;display: none" id="error">
        Some error has occurred. Please try again
    </div>
    <br><br>
    <table class="reference" id="invList" style="width: 100%">
        <b>Inventory List:</b><br><br>
        <tr>
            <th>Item ID</th>
            <th>Item Type</th>
            <th>Item Name</th>
            <th>Status</th>
        </tr>
        {{#params}}
        <tr id="row_{{employee.itemId}}">
            <td class="id"><a data-itemId="{{employee.itemId}}" class="showPopup" style="cursor:pointer;">{{employee.itemId}}</a></td>
            <td class="type">{{employee.itemType}}</td>
            <td class="name">{{employee.itemName}}</td>
            <td class="status">{{employee.status}}</td>
        </tr>
        {{/params}}
    </table>
    <div class = "pagination">
        <a  id="previous" > prev </a>
        <a  id="next"> next </a>
        <br>
    </div>
    <div style="display: none" id="popup-div">
        {{> popup}}
    </div>
</div>