/* DataTable - yui3-skin-gbee */

.yui3-skin-gbee .yui3-datatable-sortable-column {
    cursor: pointer;
}
.yui3-skin-gbee .yui3-datatable-data .yui3-datatable-even {
    background-color: #FFF;
}
.yui3-skin-gbee .yui3-datatable-data .yui3-datatable-odd {
    background-color: #F3F3F3;
}

.yui3-skin-gbee .yui3-datatable-data .yui3-datatable-even .yui3-datatable-sorted {
    background-color: #F0F0F0;
}

.yui3-skin-gbee .yui3-datatable-data .yui3-datatable-odd .yui3-datatable-sorted {
    background-color: #DDD;
}

.yui3-skin-gbee .yui3-datatable-sort-liner {
    display: block;
    height: 100%;
    padding-right: 15px;
    position: relative;
}

.yui3-skin-gbee .yui3-datatable-sort-indicator {
    position: absolute;
    right: 0;
    bottom: .5ex;
    width: 7px;
    height: 10px;
    background: image-url('../images/sort-arrow-sprite.png') no-repeat 0 0;
    overflow: hidden;
}

.yui3-skin-gbee .yui3-datatable-sorted .yui3-datatable-sort-indicator {
    background-position: 0 -10px;
}
.yui3-skin-gbee .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator {
    background-position: 0 -20px;
}