@import "compass/css3";

.yui3-panel {
    outline: none;
}

.gwynnie-bee-popup {
    background-color: white;
    border: 2px rgb(200, 200, 200) solid;
    padding: 10px;
    @include box-shadow(0 0 5px 2px  rgb(200, 200, 200));
}

.gwynnie-bee-popup p {
    line-height: 16px;
}

.gwynnie-bee-popup-close {
    cursor: pointer;
}

.popup-bottom-buttons {
    float: right;
}

.popup-cancel-link {
    cursor: pointer;
    color: #8F8F8F;
}

.popup-cancel-link:hover {
    color: black;
}

.popup-close-icon {
    background: image-url('../images/close_icon.png') no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
}
