dt { font-weight: bold; }
.sel { background-color: #FF4; }


.banner{
    text-align: center;
}

.errorMsg {
    margin: .5em 0;
    display: block;
    color: #dd4b39;
    line-height: 17px;
}

form #addition{
    width: 300px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family:raleway;
    background-color: white;
}

#content .col {
    float: left;
    color: #823696 ;
    font-size: 50;
}
#footer {
    clear: left;
}

input[type=text],
input[type=password] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 36px;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
}

input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.hidden {
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
    display: none !important;
}
.banner {
    text-align: center;
}

.hidden-label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
}


.signin-card .profile-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.content {
    padding-left: 10px;
    padding-right: 10px;
}

.button1 {
    border: 1px solid #d37402;
    color: black;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #E9DC51;
    width: 90px;
    height: 30px;
}


.button2 {
    background: none #E9DC51;
    font-family: "ProximaNovaSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #d37402;
    color: black;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-shadow: none;
    width: 210px;
    height: 30px;
    text-align: center;
}

.button3 {
    border: 1px solid #7B7B7B ;
    color: #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #999999 ;
    width: 90px;
    height: 30px;
}

table.reference th {
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #555555;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}
table.reference tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table.reference tr:nth-child(even) {
    background-color: #ffffff;
}

.nav {
    background: #AD4CC7;
    padding: 10px;
}

.nav ul {
    list-style-type: none;
    display: inline;
}

.nav ul li {
    display: inline;
    width: 200px;
    height: 50px;
}

.header1 a {
    display: inline-block;
    color: black;
    font-size: 12.5px;
    text-transform: uppercase;
    font-family: "ProximaNovaSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header1 .logo a {
    margin: 8px 0;
    text-align: center;
}

input, a {
    outline: none !important;
}

.inline {
    display: inline;
}

.pagination a {
    font-size: 20px;
    padding: 50px;
    cursor:pointer;
    color:#AD4CC7;
}

.pagination #previous {
    float: left;
}

.pagination #next {
    float: right;
}

.header{ width:100%; height:auto;}
.title{ font-size:26px; float:left; padding:25px 0 0 18px;}
.title a{ color:#366082;font-family: 'Belgrano', serif;}
.header_right{ float:right; padding:20px 20px 0 0;}
.header_right a{ margin:0 0 0 5px; color:#000000; font-weight:bold;}
.header_right a.logout{height:100px; width:200px; padding:0 0 0 22px;}
.center_content{clear:both; width:100%; padding:0 0 50px 0;}