<div class="header1">
        <a href="/logout" class="logout" style="float:right">
            <font color="#d2691e"> LOGOUT </font>
        </a>
        <center>
            <a href="/dashboard"> <img src="/static/Frame/assets/images/New-GB-Logo.png" height="50px" align="center" /></a>
        </center>
    </div>
</div>