<div id="inventoryField" class="yui3-widget-bd" style="background-color: white">
    <div id="inventoryDetail" >
        <!--<img src="images/close.png" id="close"/>-->
        <!-- contact us form -->

        <fieldset>

            <form id="popupForm" method="post">
                <table>
               <tr> <td> <b>Item ID:</b></td> <td><input type="text" name="itemId" id="itemId" readonly/></td></tr>
               <tr> <td> <b>Item Type:</b></td> <td><input type="text" name="itemType" id="itemType"/></td></tr>
               <tr> <td> <b>Item Name:</b></td> <td><input type="text" name="itemName" id="itemName"/></td></tr>
               <tr> <td>  <b>Description:</b></td> <td><textarea name="itemDesc" id="itemDesc"></textarea></td></tr>
               <tr> <td> <b>Status:</b></td> <td><input type="text" name="status" id="status" readonly/></td></tr>
               <tr> <td> <b>Issued To:</b></td> <td><input type="text" name="issuedTo" id="issuedTo"/></td></tr>
               <tr> <td> <b>Issued On:</b></td> <td><input type="text" name="issuedOn" id="issuedOn" readonly/></td></tr>
               <tr> <td> <b>Expected Return Date:</b></td> <td><input type="text" name="expectedReturnDate" id="expectedReturnDate" placeholder="yyyy-mm-ddThh:mm:ss:mmm"/></td></tr>
               <tr> <td> <b>Last Issued To:</b></td> <td><input type="text" name="lastIssuedTo" id="lastIssuedTo" readonly/></td></tr>
               <tr> <td> <b>Last Returned On:</b></td> <td><input type="text" name="lastReturnedOn" id="lastReturnedOn" readonly/></td></tr>
               <tr> <td> <b>Last Returned To:</b></td> <td><input type="text" name="lastReturnedTo" id="lastReturnedTo" readonly/></td></tr>
               <tr> <td> <b>Created On:</b></td> <td><input type="text" name="createdOn" id="createdOn" readonly/></td></tr><br>
                </table><br>
                <table>
               <tr>
                <td><input class="button1" type="button" name="assignButton" id="assignButton" value="Assign"/>
                    <input class="button1" type="button" name="modifyButton" id="modifyButton" value="Modify"/>
                    <input class="button1" type="button" name="returnItemButton" id="returnItemButton" value="Return Item"/>
                    <input class="button1" type="button" name="deleteItemButton" id="deleteItemButton" value="Delete Item"/>
                    <input class="button1" type="button" name="cancelButton" id="cancelButton" value="Cancel"/></td>
               </tr>
                </table>
            </form>

        </fieldset>
     </div>
</div>